name: Update IPTV Playlist

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:
  repository_dispatch:
    types: [trigger-playlist-update]

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          python -m playwright install chromium --with-deps

      - name: Run Scraper
        run: |
          git pull origin main --rebase
          python m3u.py

      - name: Commit and Push Changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          if [ -f "tv.m3u" ]; then
            git add tv.m3u
            
            if git diff --cached --quiet; then
              echo "No changes detected."
            else
              git commit -m "Auto-update: $(date -u +'%Y-%m-%d %H:%M:%S') UTC"
              git push origin main
            fi
          else
            echo "File not found"
            exit 1
          fi
